<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- jquery -->
    <script th:src="@{webjars/jquery/1.11.3/jquery.js}"></script>
    <!-- bootstrap -->
    <link th:href="@{webjars/bootstrap/3.3.4/css/bootstrap.css}" rel="stylesheet" media="screen" />
    <script th:src="@{webjars/bootstrap/3.3.4/js/modal.js}"></script>
	<!-- table editable -->
	<script src="../static/js/mindmup-editabletable.js" th:src="@{/js/mindmup-editabletable.js}"></script>
	<script src="../static/js/numeric-input-example.js" th:src="@{/js/numeric-input-example.js}"></script>
	<!-- JQuery ui -->
    <script th:src="@{webjars/jquery-ui/1.11.4/jquery-ui.js}"></script> 
    
	<script type="text/javascript">
	$(document).ready( function () {
		$('#detalleTable').editableTableWidget({ editor: $('<input/>'), preventColumns: [ 1, 2 ] }).
		//numericInputExample().
		find("td:first").focus();
		
		$( "#registrarTostada" ).click(function() {
			registrarNuevaTostada();
		});
	});
	</script>
	<script type="text/javascript">
	
	function loadTiposCafeTostado(){
		$.ajax({
		    type: "get",
		    url: "../listaTiposCafeTostado",
		    cache: false,    
		    dataType: "json",
		    success: function(response){
		          var dropdown = $('#idProducto');
		          var option = new Option(" ", 0);
		          $(option).html(" ");
		          $('#idProducto').append(option);
		          $.each(response, function(index) {
		   					var option = $('<option/>');
		   					option.attr({ 'value': response[index].idProducto }) 	
		   						          .text(response[index].descripcion);
		   					dropdown.append(option);
		           });

	         } ,
	         error : function(response) {
		           alert("error");
		         } 
	      });
	  } 

	function loadTiposGranoCrudo(){
		$.ajax({
		    type: "get",
		    url: "../listaTiposCafeCrudo",
		    cache: false,    
		    dataType: "json",
		    success: function(response){
		    	var trHTML = '';
		        $.each(response, function (i, item) {
		            trHTML += '<tr><td tabindex="1">' + item.idProducto + '</td><td tabindex="1">' + item.descripcion + '</td><td tabindex="1">0</td></tr>';
		        });
		        $('#detalleTable').append(trHTML);
		        $('#detalleTable').numericInputExample();

	         } ,
	         error : function(response) {
		           alert("error");
		         } 
	      });
	  } 
    function getListaCrudos(){
    	/* var arrData=[];
    	   $("#detalleTable tr").each(function(){
    	        var currentRow=$(this);
    	    
    	        var col1_value=currentRow.find("td:eq(0)").text();
    	        var col2_value=currentRow.find("td:eq(1)").text();
    	        var col3_value=currentRow.find("td:eq(2)").text();

    	         var obj=[];
    	        obj[0] = col1_value;
    	        obj[1] =col2_value;
    	        obj[2]=col3_value;

    	        arrData.push(obj);
    	   });
    	    alert(arrData);
    	    console.log(arrData); */
    	    /* var value = $('#detalleTable tr:has(td)').map(function(i, v) {
    	        var $td =  $('td', this);
    	            return {
    	                     idProducto: $td.eq(0).text(),
    	                     descripcion: $td.eq(1).text(),
    	                     cantidad: $td.eq(2).text()               
    	                   }
    	    }).get();	    
       return value; */
       
    	var i, items, item, dataItem, data = [];
    	var cols = [ "idProducto", "descripcion", "cantidad"];

    	$("#detalleTable tr").each(function() {
    	    items = $(this).children('td');

    	    if(items.length === 0) { // return if this tr only contains th
    	        return;
    	    }

    	    dataItem = {};
    	    for(i = 0; cols.length > i ; i+=1) {
    	        item = items.eq(i);
    	        if(item) {
    	            dataItem[cols[i]] = item.html();
    	        }
    	    }
    	    data.push(dataItem);
    	});
    	return data;
    }
	function registrarNuevaTostada(){
		var totalNet = $('#totalNeto').val();
		var fechaTost = $('#fechaTostada').val();
		var idProd = $('#idProducto').val();
		lista = getListaCrudos() 
		/* var listaCrudos = JSON.stringify({

            'listaCrudos' : lista
		}
        ); */
		//console.log(lista);
		$.ajax({
			//contentType: 'application/json', 
		    type: "POST",
		    url: "../altaTostada",
		    data: {
		    	fechaTostada :  fechaTost,
		    	totalNeto: totalNet,
		    	idProducto: idProd,  
		    	"listaCrudos" : JSON.stringify(lista)
		    	/* listaCrudos: listaCrudos  */
		    	/*listaCrudos: JSON.stringify(lista) */
		    },
		    /* traditional: true,
		    cache: false,    
		    dataType: "json", */
		    success: function(response){
		    	$("#myModal").modal('show');

	         } ,
	         error : function(response) {
		           alert("error");
		         } 
	      });
	  } 

	
	</script>
</head>
<body onload="loadTiposCafeTostado();loadTiposGranoCrudo();"> 
<!-- <body> -->
<div class="container">
  <div class="row">
    <div class="col-sm-12">
       <div class="page-header"><h4>Registrar Tostada</h4></div>
    
         <form class="form-horizontal" >
            <div class="form-group">
		      <label for="fechaTostada" class="col-sm-2 control-label">Fecha</label>
		      <div class="col-sm-2">
		          <input type="date" name="fechaTostada" id="fechaTostada" value=""/>
		      </div>
		     </div>
		    <div class="form-group">
		        <div class="col-sm-10">
		           <div class="table-responsive">
				    <table id="detalleTable" class="table table-striped">
				            <thead>
				              <tr><th>Cód.</th><th>Materia Prima</th><th>Cantidad(kg)</th></tr>
				            </thead>
				            <tbody>
				              <!--  <tr>
				                <td>Grano Café Burgol</td><td>100</td>
				              </tr>
				              <tr>
				                <td>Grano Café Calidad I</td><td>100</td>
				              </tr>   
				              <tr>
				                <td>Grano Café Calidad II</td><td>100</td>
				              </tr>    -->                    
				                
				            </tbody>
							<tfoot><tr><th><strong>TOTAL</strong></th><th></th><th></th></tr></tfoot>
				     </table>
				   </div> 
		        </div>
			</div>	
            <div class="form-group">
		      <label for="totalNeto" class="col-sm-2 control-label">Total neto (10% merma)</label>
		      <div class="col-sm-2">
		          <input type="number" name="totalNeto" id="totalNeto" value=""/>
		      </div>
		     </div>	
           <div class="form-group">
		      <label for="idProducto" class="col-sm-2 control-label">Producto Final</label>
		      <div class="col-sm-2">
		          <select th:value="${idProducto}" 
		            th:selected="${idProducto}" th:id="idProducto" th:name="idProducto"></select>
		      </div>
		     </div>	
			<div class="form-group">
			    <div class="col-sm-offset-2 col-sm-10">
			      
			    </div>
			  </div>		     		     			  
	
		</form>
	 	     <button id="registrarTostada" class="btn btn-default">Registrar Tostada</button>
     </div>
	 </div>
	 </div>

<div id="myModal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <!-- <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Modal title</h4>
      </div> -->
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <p>Tostada registrada con éxito!</p>
      </div>
      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
       <button type="button" class="btn btn-primary">Save changes</button> 
      </div> -->
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal --> 

</body>
</html>