<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- jquery -->
    <script th:src="@{webjars/jquery/1.11.3/jquery.js}"></script>
    <!-- bootstrap -->
    <link th:href="@{webjars/bootstrap/3.3.4/css/bootstrap.css}" rel="stylesheet" media="screen" />
	<!-- table editable -->
	<script src="../static/js/mindmup-editabletable.js" th:src="@{/js/mindmup-editabletable.js}"></script>
	<script src="../static/js/numeric-input-example.js" th:src="@{/js/numeric-input-example.js}"></script>
	
	<script type="text/javascript">
	$(document).ready( function () {
		$('#detalleTable').editableTableWidget({ editor: $('<input/>'), preventColumns: [ 1 ] }).
		//numericInputExample().
		find("td:first").focus();
	  /* $("#detalleTable").editableTableWidget().numericInputExample().find("td:first").focus();
	  $("#textAreaEditor").editableTableWidget({editor: $("<textarea></textarea>"), preventColumns: [ 1 ] }); */
		/* $('#detalleTable').on('change', 'tbody td', function(evt, newValue) {
			$('#detalleTable').numericInputExample();
		}); */
	});
	</script>
	<script type="text/javascript">
	
	function loadTiposCafeTostado(){
		$.ajax({
		    type: "get",
		    url: "../listaTiposCafeTostado",
		    cache: false,    
		    dataType: "json",
		    success: function(response){
		          var dropdown = $('#idProducto');
		          var option = new Option(" ", 0);
		          $(option).html(" ");
		          $('#idProducto').append(option);
		          $.each(response, function(index) {
		   					var option = $('<option/>');
		   					option.attr({ 'value': response[index].idProducto }) 	
		   						          .text(response[index].descripcion);
		   					dropdown.append(option);
		           });

	         } ,
	         error : function(response) {
		           alert("error");
		         } 
	      });
	  } 

	function loadTiposGranoCrudo(){
		$.ajax({
		    type: "get",
		    url: "../listaTiposCafeCrudo",
		    cache: false,    
		    dataType: "json",
		    success: function(response){
		    	var trHTML = '';
		        $.each(response, function (i, item) {
		            trHTML += '<tr><td tabindex="1">' + item.descripcion + '</td><td tabindex="1">0</td></tr>';
		        });
		        $('#detalleTable').append(trHTML);
		        $('#detalleTable').numericInputExample();

	         } ,
	         error : function(response) {
		           alert("error");
		         } 
	      });
	  } 

	
	</script>
</head>
<body onload="loadTiposCafeTostado();loadTiposGranoCrudo();"> 
<!-- <body> -->
<div class="container">
  <div class="row">
    <div class="col-sm-12">
       <div class="page-header"><h4>Registrar Tostada</h4></div>
    
         <form class="form-horizontal" method="post" action='employee/add.htm' name="employeeForm" id="employeeForm">
            <div class="form-group">
		      <label for="fechaTostada" class="col-sm-2 control-label">Fecha</label>
		      <div class="col-sm-2">
		          <input type="date" name="fechaTostada" id="fechaTostada" value=""/>
		      </div>
		     </div>
		    <div class="form-group">
		        <div class="col-sm-10">
		           <div class="table-responsive">
				    <table id="detalleTable" class="table table-striped">
				            <thead>
				              <tr><th>Materia Prima</th><th>Cantidad(kg)</th></tr>
				            </thead>
				            <tbody>
				              <!--  <tr>
				                <td>Grano Café Burgol</td><td>100</td>
				              </tr>
				              <tr>
				                <td>Grano Café Calidad I</td><td>100</td>
				              </tr>   
				              <tr>
				                <td>Grano Café Calidad II</td><td>100</td>
				              </tr>    -->                    
				                
				            </tbody>
							<tfoot><tr><th><strong>TOTAL</strong></th><th></th></tr></tfoot>
				     </table>
				   </div> 
		        </div>
			</div>	
            <div class="form-group">
		      <label for="totalNeto" class="col-sm-2 control-label">Total neto (10% merma)</label>
		      <div class="col-sm-2">
		          <input type="number" name="totalNeto" id="totalNeto" value=""/>
		      </div>
		     </div>	
           <div class="form-group">
		      <label for="idProducto" class="col-sm-2 control-label">Producto Final</label>
		      <div class="col-sm-2">
		          <select th:value="${idProducto}" 
		            th:selected="${idProducto}" th:id="idProducto" th:name="idProducto"></select>
		      </div>
		     </div>			     			  
	
		</form>
	 	     
     </div>
	 </div>
	 </div>
</body>
</html>